# Ignore reports
reports/
# Ignore plastic
plastic/
# Ignore copies/
copies/
# Ignore logs
*.log
# Ignore Report.html
Report.html
# Ignore Report.json
Report.json
# Ignore versions/  but not versions current
Versions/
 !Versions/Current 
# Ignore working files
working*.*
 # Ignore flyway.conf
flyway.conf
directorynames.json
	
