# Ignore reports
reports/
# Ignore plastic
plastic/
# Ignore copies/
copies/
# Ignore versions/  but not versions current
Versions/
 !Versions/Current 
# Ignore working files
working*.*
 # Ignore flyway.conf
flyway.conf
directorynames.json
	
