# Ignore reports
reports/
# Ignore plastic
plastic/
# Ignore copies/
copies/
# Ignore logs
*.log
# Ignore Report.html
Report.html
# Ignore Report.json
Report.json
# Ignore versions/  but not versions current
Versions/
 !Versions/Current 
# Ignore working files
working*.*
# Ignore Built-in Rules
RX0*.toml
 # Ignore flyway.conf
flyway.conf
flyway.toml
directorynames.json
# Ignore disabled callbacks
notafter*.ps1
notbefore*.ps1	
*.ini
*.epp
